.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 800px;
}

.poem h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: Bookmania, Georgia, serif;
}

.poem p {
  margin: 1.5rem 0rem;
  font-family: "miller-text", Georgia, serif;
}

@font-face {
  font-family: "Bookmania";
  src: url('/fonts/bookmania-regular.woff2') format('woff2'),
    url('/fonts/bookmania-regular.woff') format('woff');

}

.ss14 {
  font-feature-settings: 'ss14';
}

.ss18 {
  font-feature-settings: 'ss18';
}