.poem h1 {
    font-size: 2.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: Bookmania, Georgia, serif;
}

.poem p {
    margin: 1.5rem 0rem;
    color: #111;
    font-family: "miller-display", Georgia, 'Times New Roman', Times, serif;
    line-height: 1.35em;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

.author {
    font-family: "proxima-nova", Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: 400;
    margin: 1.2em 0em;
    font-size: 1.2em;
}

.poem .narrow {
    margin: 0.5em 0.0em;
}

.poem .sansSerif p {
    font-family: Charter, 'Bitstream Charter', source-sans-pro 'Sitka Text', Cambria, serif;
    font-family: proxima-nova, Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}